---
# Python Role - Install and configure Python runtime

- name: Install Python 3 and pip
  package:
    name:
      - python3
      - python3-pip
      - python3-devel
      - gcc
      - make
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Python 3 and pip (Ubuntu/Debian)
  package:
    name:
      - python3
      - python3-pip
      - python3-dev
      - build-essential
    state: present
  when: ansible_os_family == "Debian"

- name: Upgrade pip
  pip:
    name: pip
    state: latest
    executable: pip3

- name: Install virtualenv
  pip:
    name: virtualenv
    state: present
    executable: pip3

- name: Verify Python installation
  command: python3 --version
  register: python_version
  changed_when: false

- name: Display Python version
  debug:
    msg: "Python version: {{ python_version.stdout }}"
