{{ pipeline_home }}/logs/*.log {
    daily
    missingok
    rotate 30
    compress
    delaycompress
    notifempty
    create 0644 {{ pipeline_user }} {{ pipeline_user }}
    sharedscripts
    postrotate
        systemctl reload data-pipeline > /dev/null 2>&1 || true
    endscript
}
